:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	/* cursor: none; */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
	filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.loader {
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	z-index: 1;
}
.comingSoon {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
audio {
	opacity: 0;
}
#tweakpane-container {
	opacity: 0;
}
.autoplay {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: black;
	align-items: center;
}
.play {
	margin-bottom: 5rem;
}
.intro {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}
.about_artist {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.mouse-text {
	position: fixed;
	pointer-events: none;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	color: white;
	opacity: 0;
	transition: opacity 0.4s ease;
}
.center-con {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.round {
	position: absolute;
	border: 2px solid #fff;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	top: 50px;
	right: 50px;
}

#cta {
	width: 100%;
	cursor: pointer;
	position: absolute;
}

#cta .arrow {
	left: 30%;
}
.arrow {
	position: absolute;
	bottom: 0;
	margin-left: 0px;
	width: 12px;
	height: 12px;
	background-size: contain;
	top: 15px;
}
.segunda {
	margin-left: 8px;
}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
	transform: rotate(180deg);
}

@keyframes bounceAlpha {
	0% {
		opacity: 1;
		transform: translateX(0px) scale(1) rotate(180deg);
	}
	25% {
		opacity: 0;
		transform: translateX(-10px) scale(0.9) rotate(180deg);
	}
	26% {
		opacity: 0;
		transform: translateX(10px) scale(0.9) rotate(180deg);
	}
	55% {
		opacity: 1;
		transform: translateX(0px) scale(1) rotate(180deg);
	}
}

.bounceAlpha {
	animation-name: bounceAlpha;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
	animation-name: bounceAlpha;
	animation-duration: 1.4s;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.round:hover .arrow {
	animation-name: bounceAlpha;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.round:hover .arrow.primera {
	animation-name: bounceAlpha;
	animation-duration: 1.4s;
	animation-delay: 0.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
